*{
    margin: 0;
}
body{
    background-color: #eaf0f2;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s ;

}
.dark-mode {
    background-color: #1a1a1a !important;
    color: white;
}
#haeder{
    position: relative;
    height: 80px;
    background-color: #fff;
    /* box-shadow: 2px 2px #f2f2f2; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.header-dark-mode{
    background-color: #272727 !important;
    color: white !important;
}
#haeder h1 {
    position: relative;
    text-align: center;
    color: #0075ff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.HHH1{
    color: white !important;
}

#haeder img {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 10s ease-in-out;
    /* transform: rotate(+40deg); */
}

.continer{
    width: 1300px;
    height: 800px;
    background-color: #f6f6f6;
    margin: auto;
    margin-top: 20px;
}
.continer h1 {
    color: #607d8b;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.continerh4{
    color: #bdbdbd !important;
}

.continer h2 {
    text-align: center;
    width: 240px;
    height: 50px;
    color: white;
    background-color: #0075ff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;    
}
.study-h2dark{
    box-shadow: 0px 0px 5px #0075ff;
}
.continer h1 input {
    width: 30px;
    height: 30px;
}
.con-dark{
    background-color: #272727 !important;
}

@media screen and (max-width:400px){
    .continer{
        width: 320px;
    }
    .continer h2{
        width: 100%;
    }
}
@media screen and (min-width:401px) and (max-width:500px) {
    .continer{
        width: 400px;
    }
    .continer h2{
        width: 100%;
    }
}
@media screen and (min-width:501px) and (max-width:700px) {
    .continer{
        width: 500px;
    }
}
@media screen and (min-width:701px) and (max-width:900px) {
    .continer{
        width: 700px;
    }
}
@media screen and (min-width:901px) and (max-width:1100px) {
    .continer{
        width: 900px;
    }
}
@media screen and (min-width:1101px) and (max-width:1300px) {
    .continer{
        width: 1100px;
    }
}
footer{
    position: relative;
    margin-top: 109px;
    text-align: center;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span {
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
}
